<h1>Make me work</h1>
<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@employee.errors.count, "error") %>
      prohibited this employee from being saved:
    </h2>

    <ul>
    <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @employee do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :alias %>
<%= f.text_field :alias %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :office %>
<%= f.text_field :office %>
<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.collection_select :dog_id, Dog.all, :id, :name %>

<%= f.submit %>

<% end %>
