<h1>Employee show</h1>

<h1><%= @employee.first_name + " " + @employee.last_name %></h1>
<h2><%= @employee.alias %></h2>
<h2><%= @employee.title %></h2>
<h2><%= @employee.office %></h2>

<h1>Doggy Boss: <%= @employee.dog.name%></h1>
