<h1>Create a new user</h1>

<%= render partial: "shared/errors", locals: {new_object: @user} %>

<%= form_for @user do |user| %>
    <%= user.label :username %>
    <%= user.text_field :username %>
    <%= user.label :password %>
    <%= user.password_field :password %>
    <%= user.label :password_confirmation %>
    <%= user.password_field :password_confirmation %>
    <%= user.submit %>
<% end %>